
.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    color: #0b0223;
}

.navbar div {
    display: flex;
    gap: 20px
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.navbar span {
    display: flex;
    color: #ff42a5;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    justify-content: center
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a,
.navbar button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3c354f
}

.navbar button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center
}

.navbar button .fa-facebook {
    margin: 16px 16px 16px 24px;
}


.navbar a:hover,
.navbar button:hover {
    color: #ff42a5;
    transition: 0.3s;
    background-color: #cecbcb;
    padding: 10px 20px;
    border-radius: 10%;
}

.navbar button a:hover {
    padding: 0;
}

.form-container label {
    font-size: 25px;
    font-weight: 500;
    color: #3c354f;
}
.tab {
    margin: 20px auto;
    
}

.tab table {
    border-collapse: collapse;
    margin-top: 10px;
    margin: 20px auto;
}

.tab th,
.tab td {
    border: 1px solid #999;
    padding: 6px;
    text-align: center;
}

.tab th {
    background-color: #f2f2f2;
}

.tble {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .2px;
    color: #000000;
}

.style4 {
    font-size: 12px
}

.form-container {
    margin-bottom: 20px;
}

input,
button {
    padding: 6px 10px;
    font-size: 16px;
    margin-left: 5px;
}





